---
enquire_link: ioc
details:
  - text: >-
      Five mornings of guided business strategy and planning, followed by
      masterclasses in traditional and digital marketing (Facebook, Instagram,
      Pinterest, and Snapchat etc.), content strategy, optimising your LinkedIn
      profile, your digital health (your website and SEO) and leadership in
      business.
  - text: >-
      Five afternoons to apply what you’ve learnt, take advantage of 1:1
      sessions with our business coaches, take care of business back home (we
      completely understand!), or sight-see if you wish.
  - text: >-
      Six evenings of fun and laughter with like-minded business women, or
      time-out for yourself if you prefer.
  - text: Up to six nights’ share or private accommodation in a stunning villa.
  - text: Airport transfers to and from the retreat venue.
  - text: >-
      Mortgage & Finance Association of Australia (MFAA) certified collect 23.5
      CPD points!
  - text: >-
      Incredible food by our personal chef (dietary needs can be catered for),
      non-alcoholic beverages, optional daily yoga, meditation and massages
      (yes, every day!), sun lounges and a divine pool overlooking tropical
      surroundings.
  - text: >-
      Professional hair and make-up, followed by a personalised business profile
      photo session with Emilio, our highly experienced in-house photographer.
  - text: >-
      <span>Exclusions:<span> flights to and from Bali, accommodation and meals
      outside of those days listed in the retreat schedule, alcoholic beverages,
      local excursion costs.
mentors:
  - text: >-
      <span>Personal Travel Advisor - Flights:<span>   Plan it, Smash It
      Business Retreat has partnered with Sekha Walsh, personal travel advisor
      to Barefoot Investor network and all-time amazing flight
      finder.<br/>Booking with Sekha won’t cost you extra and it will be done in
      20 seconds flat https://www.itravelwithsekha.com, that’s how we roll, we
      get things done.
  - image_path: 'https://picsum.photos/200/300/?random'
    name: Rebecca Tait
    role: Business & Digital Strategist
    links:
      - icon: <i class="fa fa-globe" aria-hidden="true"></i>
        url: 'http://www.rebeccatait.com.au/'
      - icon: <i class="fa fa-linkedin" aria-hidden="true"></i>
        url: 'https://www.linkedin.com/in/rebeccatait/'
    para:
      - text: >-
          Rebecca runs RLT Consulting, a Business and Digital Strategy service
          that transforms businesses to compete in the digital age. Inspired by
          her own challenges and experiences working in IT, Property and
          Financial Services, she is devoted to helping business owners steadily
          grow their businesses.
      - text: >-
          With over 15 years of experience, she’s known for her unique blend of
          practical advice and intuitive insight. Working with some of
          Australia's most iconic brands within financial services, Rebecca has
          successfully implemented a wide range of business and marketing
          strategies.
      - text: >-
          Thanks to her commitment to growth and a deep understanding of
          consumer behaviour on social platforms she has been able to assist
          many incredible past and present clients rapidly grow their businesses
          and sustain growth during a various business challenges. She is
          running the business of her dreams and believes you deserve the same.
  - image_path: /uploads/tinaandemile.jpg
    name: Tina May & Emilio Kuzma-Floyd
    role: INSTITUTE OF CODE
    links:
      - icon: <i class="fa fa-globe" aria-hidden="true"></i>
        url: www.instituteofcode.com
      - icon: <i class="fa fa-linkedin" aria-hidden="true"></i>
        url: 'https://www.linkedin.com/in/connectwithtina/'
    para:
      - text: >-
          Tina and Emilo created The Institute of Code, to empower people with
          the skills to be in a career that really inspires them so they wake up
          as happy as they do every morning. They love that their courses help
          people to have more freedom in their lives by opening up new
          opportunities.
      - text: >-
          Tina has certainly earned the title of Bonafide Queen of Code having
          worked all over the world creating websites from local business to
          large hotels. She is a serial entrepreneur and has worked with clients
          all over the world on their digital strategy, across web design and
          development, digital marketing and social media.
      - text: >-
          Emilio splits his time as co-founder and creative director of
          Institute of Code, and as photographer and blogger behind Eyes of a
          Nomad. He has been passionate about photography from a young age, and
          loves capturing authentic moments in daily life, as well as travel and
          lifestyle photography. He will be taking and editing a professional
          profile photo of each attendee during the retreat.
  - image_path: /uploads/emma-house.jpg
    name: Emma House
    role: CONTENT PRODUCER AND STORYTELLER
    links:
      - icon: <i class="fa fa-globe" aria-hidden="true"></i>
        url: 'http://martinimondays.com.au/'
      - icon: <i class="fa fa-linkedin" aria-hidden="true"></i>
        url: 'https://www.linkedin.com/in/hellomorganspencer/'
    para:
      - text: >-
          Emma heads up Copy, Content and Crackers,  a communications agency
          specialising in digital, publicity, creative and strategic
          communication and social media for service-based businesses who are
          experts in their field. After over 8 years of corporate law and
          management,  Emma founded her first agency with a clear goal to create
          an agency that was all about people to help amplify their messages and
          position them as experts to influence their markets.
      - text: >-
          Emma is best known for her ability to amplify messages in strategic,
          creative and compelling ways, and craft a story that, people want to
          read about.   Emma has worked with some of Australia's most iconic
          brands across food, technology, law, startups and business to
          implement highly effective campaigns.
      - text: >-
          Emma is a strong advocate for women in business and life, she's a
          mentor on Tech Ready Program, writes for Team Women Australia,
          storytelling movement to empower women.
      - text: >-
          Learn more about Emma on <a
          href="https://www.linkedin.com/in/hellomorganspencer/">Linkedin</a>
  - image_path: /uploads/melissa-russell.jpg
    name: Melissa Russell
    role: LEADERSHIP & CHANGE COACH
    links:
      - icon: <i class="fa fa-linkedin" aria-hidden="true"></i>
        url: 'https://www.linkedin.com/in/lisrussell/'
    para:
      - text: >-
          Melissa has been a people, strategy and change leader for over 15
          years. She has managed various sized teams and led projects that
          directly impacted 50,000+ employees. She’s worked with the UN, and in
          government, NFPs and small, medium and large corporates, across
          Australia, Africa and Asia.
      - text: >-
          Melissa has a unique approach to leadership, blending the most
          effective principles of good leadership with a deeply human approach
          to her business relationships.
      - text: >-
          Melissa currently works fulltime in a customer strategy role, and part
          time as a business coach for Masters of Management students. In her
          spare time she also supports her sparky partner with his side hustle,
          and works on the launch of two side hustles of her own - 41 Degrees
          (coaching and consulting) and Three Wisdoms (inspiration for people).
      - text: >-
          She believes that heart-felt and effective leadership has the power to
          change the world.
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Plan it, Smash it</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.6.1/gridlex.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>
<body>
  <header>
    <h1>Plan It Smash It Biz Retreat</h1>
    <div>
      <h3>6 nights, 5 days</h3>
      <h3>18-24 February 2018</h3>
      <h3>Canggu, Bali</h3>
    </div>
    <p>Let's connect the dots in your life to THINK, PLAN and SUCCEED professionally and personally</p>
    <a href="{{page.enquire_link}}" class="big-button">ENQUIRE | BOOK</a>
    <svg viewbox="0 0 100 10">
      <polygon points="0,0 0,10 100,10 100,0 50,10" />
    </svg>
    <a href="#sec2"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
  </header>
  <section id="sec-2">
    <h2>IT'S TIME TO <span> RETREAT</span></h2>
    <div class="editable">
      <p>It’s time to step out of your stressful life …...……and gain CLARITY, PLANNING, RELAXATION, LEARNING, GROWTH & FUN.</p>
    </div>
    <a href="#sec4"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
  </section>
  <section class="sec-3">
    <svg viewbox="0 0 100 10">
      <polygon points="0,0 0,10 100,0" />
    </svg>
    <svg viewbox="0 0 100 10">
      <polygon points="0,10 100,10 100,0" />
    </svg>
  </section>
  <section id="sec-4">
    <h2>WHATS
      <span>
        INCLUDED
      </span>
    </h2>
    <div class="two-colum">
      {% for things in page.details %}
      <div class="flex-center">
        <span>
          <i class="fa fa-check" aria-hidden="true"></i>
        </span>
        <p>{{things.text}}</p>
      </div>
      {% endfor %}


    <a href="#" class="button-alt">FULL SCHEDULE</a>
    <a href="{{page.enquire_link}}" class="big-button">ENQUIRE | BOOK</a>
  </div></section>
  <section id="sec-5">
    <svg viewbox="0 0 100 10">
      <polygon points="0,0 0,10 100,0" />
    </svg>
    <h2>
      YOUR BUSINESS
      <span>COACHES</span>
    </h2>
    {% for mentor in page.mentors %}
    <div class="grid-spaceBetween">
      <div class="col-2">
        <img src="{{mentor.image_path}}" alt="{{mentor.name}}" />
        {% for link in mentor.links %}
        <a class="social-link" href="{{link.url}}">
          {{link.icon}}
        </a>
        {% endfor %}
      </div>
      <div class="col-8">
        <h3>
          {{mentor.name}}
        </h3>
        <h4>{{mentor.role}}</h4>
        {% for para in mentor.para %}
        <p>{{para.text}}</p>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
    <svg viewbox="0 0 100 10">
      <polygon points="0,10 100,10 100,0" />
    </svg>
  </section>
  <section id="sec-6">
    <h2>
      INVEST IN YOU &
      <span>YOUR BUSINESS</span>
    </h2>
    <h3>
      <span>Book now </span>to secure one of only TEN places at our incredible business retreat.
    </h3>
    <p>You will have access to four business coaches, hours of hands-on learning, connection with like-minded businesswomen, and some fantastic downtime before you Smash It.</p>
    <div class="grid">
      <div class="col-6">
        <h3>EARLY BIRD PRICE</h3>
        <p>Book and pay on or before 31 January 2018 AEST</p>
        <p>$5,000 AUD share</p>
        <p>$7,500 AUD private room</p>
      </div>
      <div class="col-6">
        <p>Book and pay on or before 31 January 2018 AEST</p>
        <p>$5,000 AUD share</p>
        <p>$7,500 AUD private room</p>
      </div>
    </div>
    <a href="{{page.enquire_link}}" class="big-button">ENQUIRE | BOOK</a>
  </section>
  <section id="sec-7">
    <svg viewbox="0 0 100 10">
      <polygon points="0,0 100,10 100,0" />
    </svg>
    <a href="#sec-8"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>

  </section>
  <section id="sec-8">
    {% for info in page.course-info %}
    <div class="grid">
      {% if loop.index == even %}
      <div class="col-6 over-crop" style="background-image:url('{{info.pic}}')">
        <svg viewbox="0 0 100 100">
          <polygon points="100,10 100,0 50,10" />
        </svg>
      </div>
      <div class="col-6">
        <h3>
          {{info.small-title}}
          <span>{{info.large-title}}</span>
        </h3>
        {% for para in info.para %}
        <p>{{para.text}}</p>
        {% endfor %}
      </div>


      {% else %}
      <div class="col-6">
        <h3>
          {{info.small-title}}
          <span>{{info.large-title}}</span>
        </h3>
        {% for para in info.para %}
        <p>{{para.text}}</p>
        {% endfor %}
      </div>
      <div class="col-6 over-crop" style="background-image:url('{{info.pic}}')">
        <svg viewbox="0 0 100 100">
          <polygon points="100,10 100,0 50,10" />
        </svg>
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </section>
  <section id="sec-9">
    <svg viewbox="0 0 100 10">
      <polygon points="0,0 0,10 100,10 100,0 50,10" />
    </svg>
    <a href="#" class="big-button">ENQUIRE | BOOK</a>
    <svg viewbox="0 0 100 10">
      <polygon points="0,0 0,10 50,0 100,10 100,0" />
    </svg>
  </section>
</body>
</html>
