*{
  padding:0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-position: center;
/*   background-attachment: fixed; */
  background-size: cover;
}
[class*="grid-"], [class*="grid_"], [class~="grid"]{
  margin: 0
}

:focus{
  outline: 0;
  border: 0;
}

img{
  max-width: 100%;
}
/* generals */

section,header,footer{
  padding:0 5% 10vw;
  position: relative;
}

.height-50{
  min-height: 50vh;
}

.center{
  text-align: center;
}

.left-headers h3{
  text-align: left;
  display: inline-block;
}

ul, ol{
  list-style-position: outside;
  font-size: 2rem;

}
ul > *,ol > *{
  margin-left: 5%;
}

.padding-0{
  padding: 0;
}

.padded-2{
  padding: 2%;
}

.padded-5{
  padding: 5%
}

.padded-10{
  padding:10%;
}

.padded-bottom-0{
  padding-bottom: 0;
}

.margin-5{
  margin:5%;
}

.margin-bottom-5{
  margin-bottom: 5%;
}

.dark-overlay{
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 100vh;
}

.main-button{
  color:#fff;
  background-color: #e67e22;
  padding: 2.5%;
  border-radius: 5px;
  display: inline-block;
  margin: 3%;
}
.alt-button {
    color: #fff;
    background-color: #117e8d;
    padding: 2.5%;
    border-radius: 5px;
    display: inline-block;
    margin: 3%;
}

.arrow{
  display: block;
  font-size: 4rem;
  width: 3rem;
  margin: 5% auto;
}

.fa-check{
  color: #00A9BF;
  font-size: 3rem;
}

.flex-center{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; */
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.two-colum{
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2
}

.bg-info {
  min-height: 30vh;
}

.fuzzybreak{
  word-break: break-all;
}
/* type */

body{
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;

}

p,h1,h2,h3,h4{
  padding: 0.7% 0;
}

h1,h2,h3,h4{
  text-align: center;
}

h1{
  font-size: 3.4rem;
}
h2{
  font-size: 2.5rem;
  margin: 5% 0%;
}
h2 span{
  font-size: 3rem;
  display: block;
}
h3{
  font-size: 2rem;
}
h4{
  font-size: 2rem
}
p{
  font-size: 1.2rem;
  line-height: 1.5
}
p:nth-last-child{
  margin-bottom: 5%s
}
a{
  color: inherit;
  text-decoration: none;
}



svg{
  position: absolute;
  width:100%;
  right:0;
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}
svg.top{
  top: 0;
}
svg.bottom{
  bottom: 0;
}

/* .colors */

.white-svg{
  fill: white;
}

.color-svg{
  fill:#00A9BF;
}
.dark-svg{
  fill: #41414D;
}

.color-section{
  background-color: #00A9BF;
  color:white;
}

.dark-sec{
  background-color: #41414D;
  color:#fff;
}




header{
  min-height: 100vh;
  background-image:url('/uploads/shadows.jpg');
  color: white;
}

header .dark-overlay{
  padding: 10vw 5%;
}
#sec-2{
  padding-left: 0;
  padding-right: 0;
}

#sec-2 p{
  padding:2% 15%;
}

#sec-2-5{
  position: relative;
  background-image:url('/uploads/pool-chairs.jpg');
  min-height:80vh;
}

#sec-3{
  min-height: 100vh;
  background-image:url('/uploads/class.jpg');
}
#sec-5{
  padding-top: 10vw;
}

#sec-5 img{
  border-radius: 50%;
  width: 100%;
}

.social-link{
  font-size: 3rem;
  display: inline-block;
}

.social-link .fa{
  display: block;
  margin-top: 20%;
}

#sec-3{

}

.overflow-fix{
  width: calc(35vw - 48px);
}
#sec-4{
  padding-bottom: 0;
}

#sec-5 p{
  padding-top: 5%;
}

#sec-6{
  padding-bottom: 0;
}

#sec-6 p{
padding: 2.5%;
}

#sec-6 div{
  text-align: center;
}

#sec-7{
  background-image: url('/uploads/class.jpg');
  min-height:80vh;
}
#sec-8 h3{
  margin-bottom: 20px;
}
#sec-9{
padding-bottom: 23vw;
}

footer{
  position: relative;
  padding: 0 5% 5%;
}

footer .col-5{
  border: 2px solid white;
  margin-bottom: 10%;
  padding: 2%;
}

footer .fa{
  font-size: 3rem;
  margin-right: 1vw;
}


/* form */

.form-bg{
  background-attachment: fixed;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
}

.form-bg [class*=col-]{
  padding: 0;
}

.form-bg input,
.form-bg textarea,
.form-bg select{
  width: 100%;
  margin-bottom: 5vh;
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.7);
}

.terms{
  padding: 0;
}


select{
  margin-top: 5%;
}

textarea{
  min-height: 10vh;
  width:auto;

}

input[type="submit"] {
    width: 300px;
    letter-spacing: 2px;
    margin: auto;
    display: block;
}


@media all and (max-width:768px){
  header span{
    display: block;
    font-size: 1.4rem;
    font-weight: 600;
  }
  .invert{
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  }

  .main-button,.alt-button{
    display: block;
  }

  .fa-check{
    display: none;
  }

.overflow-fix{
  width: calc(68vw - 48px);
}

}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  h2{
    margin: 2%;
  }
  svg{
  display: none;
  }
  .invert{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  }

  #sec-9{
    padding-bottom: 2vw;
  }
}
